* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, Arial, sans-serif;
  font-weight: lighter;
}

#Wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('./img/background.png');
  background-size: cover;
  grid-template-columns: 100%;
  grid-template-rows: auto 64px;
}

container-contents {
  grid-column: 1;
  grid-row: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

menu-main {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  background: #FF9800;
  border-top: 1px solid #FFB74D;
  box-shadow: 0 0 5px 0 #FFB74D;
  grid-template-columns: 16px auto 16px 40px 16px;
  grid-template-rows: auto 40px auto;
}
menu-main .SearchBox {
  position: relative;
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 5px;
}
menu-main .SearchBox input {
  width: 100%;
  height: 100%;
  padding-right: 36px;
  padding-left: 6px;
  border: 0;
  color: #999999;
}
menu-main .SearchBox button {
  position: absolute;
  top: 0;
  right: 6px;
  bottom: 0;
  margin: auto 0;
  width: 24px;
  height: 24px;
  background: url('./img/button-search.png') no-repeat;
  border: 0;
}
menu-main .About {
  grid-column: 4;
  grid-row: 2;
  background: url('./img/button-about.png') no-repeat;
  background-size: 100% 100%;
  border: 0;
}

modal-about {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
modal-about .ModalContainer {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  padding: 10px;
  background: #F0F0F0;
  text-align: center;
}
modal-about .ModalContainer * {
  margin-bottom: 10px;
}
modal-about .ModalContainer h1 {
  font-size: 26px;
  color: #333333;
}
modal-about .ModalContainer h3 {
  font-size: 19px;
  color: #666666;
}
modal-about .ModalContainer h6 {
  font-size: 16px;
  color: #999999;
}
modal-about .ModalContainer h6 a {
  color: #999999;
}
modal-about .ModalOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background: #999999;
  opacity: 0.5
}

list-meal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 10px;
  overflow: hidden;
}
list-meal h1 {
  display: block;
  width: 100%;
  height: auto;
  padding: 35px 0;
  text-align: center;
  font-size: 26px;
  color: #FFFFFF;
}
list-meal .Message {
  width: 100%;
  height: auto;
  padding: 35px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
}

item-meal {
  display: inline-block;
  width: 25%;
  height: auto;
  padding: 5px;
}
item-meal .MealImage {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: inset 0 0 10px #FFFFFF;
}
item-meal .MealImage img {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #FFFFFF;
}
item-meal .MealName {
  display: block;
  width: 100%;
  height: auto;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
}

detail-meal .Navigation {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px 16px;
  background: #999999;
}
detail-meal .Navigation .Back {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: auto;
  text-decoration: none;
}
detail-meal .Navigation .Back i {
  width: 24px;
  height: 24px;
  background: url('./img/button-back.png') no-repeat;
}
detail-meal .Navigation .Back span {
  display: inline-block;
  padding: 16px;
  font-size: 16px;
  color: #FFFFFF;
  vertical-align: middle;
}
detail-meal .Container {
  padding-top: 16px;
  width: 100%;
  height: auto;
  overflow: hidden;
}
detail-meal .MealImage {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: auto;
  text-align: center;
}
detail-meal .MealImage img {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: 5%;
  box-shadow: inset 0 0 5px #FFFFFF;
}
detail-meal .MealImage h3 {
  display: block;
  padding: 16px;
  font-size: 26px;
  color: #FFFFFF;
}
detail-meal .MealIngredients {
  display: block;
  width: 100%;
  height: auto;
  padding: 16px;
  overflow: hidden;
}
detail-meal .MealIngredients h3 {
  display: block;
  font-size: 26px;
  color: #FFFFFF;
}

item-ingredient {
  display: flex;
  align-items: center;
  margin: 16px 0;
  width: 100%;
  height: auto;
}
item-ingredient img {
  width: 15%;
  height: auto;
  padding: 2.5%;
  background: #F0F0F0;
  border-radius: 100%;
  box-shadow: inset 0 0 5px #999999;
}
item-ingredient p {
  width: 90%;
  height: auto;
  padding: 16px;
  font-size: 16px;
  color: #F0F0F0;
}

@media screen and (max-width: 600px) {
  item-meal {
    width: 50%;
  }
}
